<div class="reviews-page" id="reviews">
  <div class="text-center mt-4">
    <h3>Recenze</h3>
    <p class="text-muted"></p>
  </div>

  <div class="review-container">
    <button class="arrow left-arrow" (click)="previousReview()">
      <span class="material-icons-outlined">keyboard_arrow_left</span>
    </button>

    <div class="review">
      <div class="review-img">
        <img [src]=currentReview.img alt="Reviewer Image" />
      </div>
      <div class="review-content">
        <h4>{{ currentReview.name }}</h4>
        <blockquote>{{ currentReview.text }}</blockquote>
        <p><strong>Hodnocení:</strong> {{ currentReview.rating }} ⭐</p>
      </div>
    </div>

    <button class="arrow right-arrow" (click)="nextReview()">
      <span class="material-icons-outlined">keyboard_arrow_right</span>
    </button>
  </div>
</div>

<div>
  <div href="https://maps.app.goo.gl/3Q7bEaiNfpRnQ2ka7"></div>
</div>
